<style>

.contentbox1{
  border-color:#ffff;
  background-color:#ffff;
  border-radius: 6px;
  padding:10px;
  margin-bottom: 600px;
}
</style>

<script type="text/javascript">
    if (document.addEventListener) {
        document.addEventListener('contextmenu', function(e) {
            alert("You've tried to open context menu"); //here you draw your own menu
            e.preventDefault();
        }, false);
    } else {
        document.attachEvent('oncontextmenu', function() {
            alert("You've tried to open context menu");
            window.event.returnValue = false;
        });
    }
</script>

<div class="contentArea">
	<div ng-repeat="module in modules">
   
     <div ng-if=(module.id==moduleId) ng-repeat="lo in module.LOS" >
    
     <div ng-if=(lo.id==loId) > 
      
     <div class="contentbox1">
   
		 
		
<div ng-mouseup="showSelectedText()">
 <p>{{lo.content}}</p> 
</div>
<br/>


<div  ng-bind="selectedText"></div>
	<h3>Selected Text</h3>
		 
	
		 
		 
   </div>

      </div>   
    </div>
</div></div>