<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
</head>
<style>
.modal-header{
    background-color: #454454;
    }
.modal-title
    {
        color: #fff;
    }
.modal-body{
    background-color: #d9994f;
    position: relative;
    padding: 0px;
    }
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
}
    h6 {
    font-size: 12px;
   
}
h4, .h4, h5, .h5, h6, .h6 {
   margin-top: 2px;
    margin-bottom: 0px;
}
</style>
        <div class="modal-header">
            <h3 class="modal-title"> Recent
            <button ng-click="cancel()" class="pull-right" ><i class="glyphicon glyphicon-remove"></i></button></h3>
         
        </div>
        <div class="modal-body" class="list-group-item">
          <li class="list-group-item">Perform arithematic operation on polynominals
            <div class="row">
              <div class="col-md-8">
              <span style="color:green"><h6 align="right">Start Date</h6></span>
                  </div>
                <div class="col-md-3">
                    <span style="color:REd"><h6 align="right">End Date</h6></span>
                  </div>
                </div> 
            </li>
            <li class="list-group-item">Understand the relationship between zero  factors of polynomials
             <div class="row">
              <div class="col-md-8">
              <span style="color:green"><h6 align="right">Start Date</h6></span>
                  </div>
                <div class="col-md-3">
                    <span style="color:REd"><h6 align="right">End Date</h6></span>
                  </div>
                </div> 
            </li>
            <li class="list-group-item">Use polynominals identities to solve problems
             <div class="row">
              <div class="col-md-8">
              <span style="color:green"><h6 align="right">Start Date</h6></span>
                  </div>
                <div class="col-md-3">
                    <span style="color:REd"><h6 align="right">End Date</h6></span>
                  </div>
                </div> 
            </li>
            <li class="list-group-item">Rewrite rational expressions
             <div class="row">
              <div class="col-md-8">
              <span style="color:green"><h6 align="right">Start Date</h6></span>
                  </div>
                <div class="col-md-3">
                    <span style="color:REd"><h6 align="right">End Date</h6></span>
                  </div>
                </div> 
            </li>
            <li class="list-group-item" style="padding: 13px 15px;background-color: #454454;margin-bottom: 0px;"><h3 class="modal-title">Scheduled</h3></li>
            <li class="list-group-item">Create equations that describe number or  relationships
             <div class="row">
              <div class="col-md-8">
              <span style="color:green"><h6 align="right">Start Date</h6></span>
                  </div>
                <div class="col-md-3">
                    <span style="color:REd"><h6 align="right">End Date</h6></span>
                  </div>
                </div> 
            </li>
            <li class="list-group-item">Solve equation and enequalities in one variable
             <div class="row">
              <div class="col-md-8">
              <span style="color:green"><h6 align="right">Start Date</h6></span>
                  </div>
                <div class="col-md-3">
                    <span style="color:REd"><h6 align="right">End Date</h6></span>
                  </div>
                </div> 
            </li>
            <li class="list-group-item">Solve systems of equations
             <div class="row">
              <div class="col-md-8">
              <span style="color:green"><h6 align="right">Start Date</h6></span>
                  </div>
                <div class="col-md-3">
                    <span style="color:REd"><h6 align="right">End Date</h6></span>
                  </div>
                </div> 
            </li>
            <br/><br/>
        </div>
      
  
  