


<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="demo.css">
</head>
<style>
.modal-lg {
    width: 1300px;

}

</style>
<div class="modal-header">
    <h3 class="modal-title" align="center">Things in Class</h3>
</div>
        <div class="modal-body">
<div  ng-cloak>

    

    <div class="container-fluid">

      <div class="row" ng-controller="Calendarctrl as vm" id="demo" >

      
          <h2 class="text-center">{{ vm.calendarTitle }}</h2>
            
          <div class="row">
            <div class="col-md-3 text-center">
              <div class="btn-group">

                <button
                  class="btn btn-primary"
                  mwl-date-modifier
                  date="vm.calendarDay"
                  decrement="vm.calendarView">
                  Previous
                </button>
                <button
                  class="btn btn-default"
                  mwl-date-modifier
                  date="vm.calendarDay"
                  set-to-today>
                  Today
                </button>
                <button
                  class="btn btn-primary"
                  mwl-date-modifier
                  date="vm.calendarDay"
                  increment="vm.calendarView">
                  Next
                </button>
              </div>
            </div>

            <br class="visible-xs visible-sm">

            <div class="col-md-3 text-center">
              <div class="btn-group">
                <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'year'">Year</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'month'">Month</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'week'">Week</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'day'">Day</label>
              </div>
            </div>

          </div>

          <br>
  <div class="col-md-4 col-md-offset-0">
          <mwl-calendar
            events="vm.events"
            view="vm.calendarView"
            view-title="vm.calendarTitle"
            current-day="vm.calendarDay"
            on-event-click="vm.eventClicked(calendarEvent)"
            on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
         
            auto-open="true"
            day-view-start="06:00"
            day-view-end="22:00"
            day-view-split="30"
            cell-modifier="vm.modifyCell(calendarCell)">
          </mwl-calendar>

          <br><br><br>

    </div>
     <div class="col-md-8">
          <h3 >
            Edit events
            <button
              class="btn btn-primary pull-right"
              ng-click="vm.events.push({title: 'New event', type: 'important', draggable: true, resizable: true})">
              Add new
            </button>
            <div class="clearfix"></div>
          </h3>

          <table class="table table-bordered">

            <thead>
              <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="event in vm.events track by $index">
                <td>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="event.title">
                </td>
                <td>
                  <select ng-model="event.type" class="form-control">
                    <option value="important">Important</option>
                    <option value="warning">Warning</option>
                    <option value="info">Info</option>
                    <option value="inverse">Inverse</option>
                    <option value="success">Success</option>
                    <option value="special">Special</option>
                  </select>
                </td>
                <td>
                  <p class="input-group" style="max-width: 200px">
                    <input
                      type="text"
                      class="form-control"
                      readonly
                      datepicker-popup="dd MMMM yyyy"
                      ng-model="event.startsAt"
                      is-open="event.startOpen"
                      close-text="Close" >
                    <span class="input-group-btn">
                      <button
                        type="button"
                        class="btn btn-default"
                        ng-click="vm.toggle($event, 'startOpen', event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </p>
                  <timepicker
                    ng-model="event.startsAt"
                    hour-step="1"
                    minute-step="15"
                    show-meridian="true">
                  </timepicker>
                </td>
                <td>
                  <p class="input-group" style="max-width: 200px">
                    <input
                      type="text"
                      class="form-control"
                      readonly
                      datepicker-popup="dd MMMM yyyy"
                      ng-model="event.endsAt"
                      is-open="event.endOpen"
                      close-text="Close">
                    <span class="input-group-btn">
                      <button
                        type="button"
                        class="btn btn-default"
                        ng-click="vm.toggle($event, 'endOpen', event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </p>
                  <timepicker
                    ng-model="event.endsAt"
                    hour-step="1"
                    minute-step="15"
                    show-meridian="true">
                  </timepicker>
                </td>
                <td>
                  <button
                    class="btn btn-danger"
                    ng-click="vm.events.splice($index, 1)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    

</div>
</div>
 <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
<br/><br/>