<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
</head>
        <div class="modal-header">
            <h3 class="modal-title" align="center">Recommended Full View</h3>
        </div>
        <div class="modal-body">
           <div class="row">
               <div class="col-md-4">
                   
               <iframe width="280" height="200" src="https://www.youtube.com/embed/HcgJRQWxKnw" frameborder="0" allowfullscreen></iframe> 
                   
                </div>
           
               <div class="col-md-8">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas feugiat consequat diam. Maecenas metus. Vivamus diam purus, cursus a, commodo non, facilisis vitae, nulla. Aenean dictum lacinia tortor. Nunc iaculis, nibh non iaculis aliquam, orci felis euismod neque, sed ornare massa mauris sed velit. Nulla pretium mi et risus.  
               </div>
            </div>
        <div class="row">
            <div class="col-md-4">
                <video width="280" height="200" controls>
                    <source src="vedio/codeschool_1322.mp4" type="video/mp4">
                </video>
            </div>
            <br/>
            <div class="col-md-8">      
           Fusce mi pede, tempor id, cursus ac, ullamcorper nec, enim. Sed tortor. Curabitur molestie. Duis velit augue, condimentum at, ultrices a, luctus ut, orci. Donec pellentesque egestas eros. Integer cursus, augue in cursus faucibus, eros pede bibendum sem, in tempus tellus justo quis ligula. Etiam eget tortor. Vestibulum rutrum, est ut placerat elementum, lectus nisl aliquam velit, tempor aliquam eros nunc nonummy metus.
            </div>
        </div>  
        <div class="row">
            <div class="col-md-4">
                <video width="280" height="200" controls>
                    <source src="vedio/codeschool_1323.mp4" type="video/mp4">
                </video>
            </div>
            <br/>
            <div class="col-md-8">      
           Fusce mi pede, tempor id, cursus ac, ullamcorper nec, enim. Sed tortor. Curabitur molestie. Duis velit augue, condimentum at, ultrices a, luctus ut, orci. Donec pellentesque egestas eros. Integer cursus, augue in cursus faucibus, eros pede bibendum sem, in tempus tellus justo quis ligula. Etiam eget tortor. Vestibulum rutrum, est ut placerat elementum, lectus nisl aliquam velit, tempor aliquam eros nunc nonummy metus.
            </div>
        </div>
                
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
  
  